REDIS_URL=redis://localhost/
BACKEND_URL=https://backend-production-8462.up.railway.app
ADMIN_EMAIL=bensamuel114@gmail.com
ADMIN_PASSWORD=admin12345
PENDING_SMS_PATH=/calendario/delivery-jobs/sms-pendientes